# -------------------------------
# 1. Authentication
# -------------------------------
AuthType Basic
AuthName "Restricted Area"
AuthUserFile "C:/wamp64/www/practical_exam/.htpasswd"
Require valid-user

# -------------------------------
# 2. Cache Control
# -------------------------------
<IfModule mod_headers.c>
  <FilesMatch "\.(html|jpg|pdf|xml|json|js|css)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>

#<IfModule mod_headers.c>
#  <FilesMatch "\.(html|xml|json)$">
#    Header set Cache-Control "no-store"
#  </FilesMatch>
#</IfModule>

#<IfModule mod_headers.c>
#  <FilesMatch "\.(html|xml|json)$">
#    Header set Cache-Control "no-cache, must-revalidate"
#  </FilesMatch>
#</IfModule>

#<IfModule mod_headers.c>
#  <FilesMatch "\.(jpg|pdf|css|js)$">
#    Header set Cache-Control "public, max-age=60, must-revalidate"
#  </FilesMatch>
#</IfModule>

# -------------------------------
# 3. Compression (gzip/deflate)
# -------------------------------
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/xml application/pdf text/plain
</IfModule>

# -------------------------------
# 4. Content Negotiation
# -------------------------------
AddLanguage es .es
AddLanguage fil .fil

# -------------------------------
# 5. Conditional Requests
# -------------------------------
FileETag MTime Size
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

# -------------------------------
# 6. Range Requests
# -------------------------------
<IfModule mod_headers.c>
  Header set Accept-Ranges "bytes"
</IfModule>
